@use '../../scss/colors';
@use '../../scss/mixins';

.orders {
  @include mixins.background(top & bottom, colors.$brown);
  color: colors.$brown;
}

.orderhistory {
  color: colors.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 1.3rem 0 1.3rem;

  &__profile {
    @include mixins.circle(94px);
    margin-bottom: 1rem;
  }

  &__name {
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  &__stats {
    width: 320px;
  }

  &__subtitle {
    margin-bottom: 1rem;
  }

  &__total {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
}
