@use '../../scss/colors';
@use '../../scss/mixins';

.menu {
  @include mixins.background(top & bottom, colors.$pink);

  &__container {
    margin: 0 1.5rem;
  }

  &__title {
    text-align: center;
    margin-top: 2rem;
  }

  &__login {
    font-size: 12px;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__login span {
    text-decoration: underline;
    cursor: pointer;
  }
}
