@use '../../scss/colors';
@use '../../scss/mixins';

.status {
  @include mixins.background(none, colors.$orange);

  &__content {
    margin: 7rem 1.3rem 0 1.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .button__large {
      align-self: center;
    }
  }
}
