@use '../../../scss/mixins';
@use '../../../scss/colors';

.changepassword {
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 12px;
    margin-bottom: 0.2rem;
  }

  &__changeview {
    margin-bottom: 1rem;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;
  }
}
